:root{
    --bg-color: #1c1d2b;
    --base-color: #11121a;
    
    --text-color: #e6e6ef;
    --hover-color: #222533;
    --line-color: #42434a;
    --accent-clr: #5e63ff;
    --second-text-clr: #b0b3c1;
    --font-primary: "Inter", sans-serif;

    --fs-xs: 11px;
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 16px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 30px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter","Manrope", sans-serif;
}
:root {
  --ff: "Manrope", sans-serif;
  --h1: 700 1.5rem/1.2em var(--ff);
  --h2: 700 1.25rem/1.4em var(--ff);
  --h3: 700 1.125rem/1.4em var(--ff);
  --p: 400 1rem/1.6em var(--ff);
  --small: 400 0.75rem/1.6em var(--ff);
  --transition: 0.2s ease-in-out;
}
:root {
    /* bg-colors */
  --primary: oklch(0.65 0.15 264);
  --bg-dark: oklch(0.92 0 264);
  --bg: oklch(0.96 0 264);
  --bg-light: oklch(1 0 264);
  --bg-sidebar: linear-gradient(63deg, #91b7dc, #c0bafb);
  --bg-nav-hover: linear-gradient(44deg, #8075ff8c, #a4dcf9);
  /* text-colors */
  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);
  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}
body.light {
  /* bg-colors */
  --primary: oklch(0.9 0.17 100);
  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.2 0 264);
  --bg-light: oklch(0.3 0 264);
  --bg-sidebar: linear-gradient(63deg, #2c3f74, #111521);
  --bg-nav-hover: linear-gradient(44deg, #5145d5ba, #0a3359);
  /* text-colors */
  --text: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);
}
/* Global CSS */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text-muted);
}



.app{
    
    max-width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar navbar"
        "sidebar main"
        "sidebar main";
}

.header{
    background-color: var(--bg-light);
    height: 80px;
    grid-area: navbar;
    padding: 15px;
    text-align: center;
    
}

.hidden {
    grid-template-columns: 0 1fr;
  transition: var(--transition);
}
.display-none{
    display: none;
}

.sidebar{
    padding:20px;
    background: var(--bg-sidebar);
    color:white;
    grid-area: sidebar;
    /* display: flex;
    flex-direction: column; */
    justify-items: center;
    align-items: center;
}

.sidebar-brand {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.sidebar  .title{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sidebar>nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar>nav> a{
    height:60px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.main{
    grid-area: main;
    /* margin-top: 10px; */
}


.sidebar>nav> a:hover{
    background: var(--bg-nav-hover);
    color:red;
    border-radius: 8px;
    /* transform: scale(1.1); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a{
    text-decoration: none;
    color: inherit;
    text-align: center;
    
}
a:active{
    background-color: rgb(25, 1, 52);
    color:white;
}

.dashboard{
    min-height: 100vh;
    padding: 20px;
    color: var(--text);
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-auto-flow: column;
    grid-template-areas: 
        "data "
        "info"
    ;
}

.sensor-data{
    grid-area: data;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
}
.dashboard .card{
    display: flex;
    /* flex-direction: row; */
    flex: 1 1 0;
    justify-content: space-between;
}

.card{
    background-color: var(--bg-light);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 20px;
    line-height: 1.5rem;
}
.card-title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-title-right{
    font-size: var(--fs-md);
}
.card-data{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}
.sensor-data > .card > .info{
    text-align: left;
    display: flex;
    flex-direction: column;
    white-space: nowrap;   /* prevents line breaks */
    overflow: hidden;      /* hides overflow if container is too small */
    text-overflow: ellipsis; /* adds "..." if text is cut off */
} 
.info-last-div{
    margin-top: auto;
}

.info-data{
    grid-area: info;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
}
.info-data>.card{
    flex-direction: column;
}

.alert-active{
    background-color: rgb(255 224 224);
    border: 1px solid #fdc2c2;
    .icon{
        color: red;
        svg{
            height: 30px;
            width: 30px;
        }
    }
    .status{
        color: red;
        padding: 0 20px;
        border-radius: 20px;
        background-color: #ffbfbf;
    }
}
.alert-resolved{
    .icon{
        color: rgb(64, 124, 38);
        svg{
            height: 30px;
            width: 30px;
        }
    }
    .status{
        color: green;
        padding: 0 20px;
        border-radius: 20px;
        background-color: rgb(217 253 201);
    }
}
.icon-box {
    margin: 0 20px;
    background: transparent;
    color: white;
    fill:#276fec;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
}
.icon-box:hover{
    background: transparent;
    color: #e1ebff;
    transform: scale(1.2);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-box svg {
    stroke-width: 1.5px;
    width: 30px;
    height: 30px;
}
.gas-icon{
    background-color: rgb(255 237 212);
    color:rgb(250, 161, 27);
}
.temp-icon{
    background-color: rgb(185, 235, 185);
    color: green;
}
.danger-level{
    background-color: rgb(252, 168, 168);
    color: rgb(255, 45, 45);
}
.card-icon{
    height: 70px;
    width: 70px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
    stroke-width: 2px;
    width: 50px;
    height: 50px;
    }
}
.status-text{
    text-transform: capitalize;
}
.normal, .online{
    .card-icon{
        background-color: rgb(185, 235, 185);
        color: green;
    }
    .status-text{
        color: green;
    }
}
.moderate{
    .card-icon{
        background-color: rgb(255 237 212);
        color:rgb(250, 161, 27);
    }
    .status-text{
        color: rgb(246, 160, 73);
    }
}
.high, .offline{
    .card-icon{
        background-color: rgb(255 212 212);
        color: rgb(255 0 0);
    }
    .status-text{
        color: rgb(255, 45, 45);
    }
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow-s {
  box-shadow: var(--shadow-s);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background: var(--bg-light);
  color: var(--text-muted);
  padding: 0.24rem 0.5rem 0.12rem 0.5rem;
  margin-left: auto;
  transition: var(--transition);
}
button:hover {
  background: var(--bg);
  transition: var(--transition);
}
button:focus {
  outline: none;
}

.text-s{
    font-size: var(--small);
    color: var(--text-muted);
}

 @media (max-width: 768px){
    .app{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "navbar"
        "main";
    }
    .sidebar{
        display:none;
    }
    .dashboard{
    gap: 1em;
    grid-template-columns: 1fr;
    grid-row: repeat(auto);
    grid-template-areas: 
        "data"
        "info"
        "chart";
    }
    .message{
        min-height: 300px;
    }
    .card{
        font-size: 0.6rem;
        margin-left: 0;
    }
    
 }